
<mat-card>
  <h2 *ngIf="!location?.id">Nouveau lieu</h2>
  <h2 *ngIf="location?.id">Modifier {{ location?.name }}</h2>

  <form class="location-form" [formGroup]="locationForm" fxLayout="column">
    <div class="input-row">
        <mat-form-field fxFlex>
            <input matInput placeholder="Nom" formControlName="name" name="name" required>
        </mat-form-field>
    </div>
    <div class="input-row">
        <mat-form-field fxFlex>
            <textarea matInput cdkTextareaAutosize placeholder="Description" formControlName="description" name="description" required></textarea>
        </mat-form-field>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex class="coordinate">
            <input matInput type="number" placeholder="Longitude" formControlName="longitude" name="longitude" required>
        </mat-form-field>

        <mat-form-field fxFlex class="coordinate">
            <input matInput type="number" placeholder="Lattitude" formControlName="lattitude" name="lattitude" required>
        </mat-form-field>
    </div>

    <h3>Médias</h3>

    <button mat-raised-button color="accent" (click)="addMedia()"><mat-icon>add</mat-icon></button>

    <ng-container *ngFor="let mediaFormGroup of locationForm.controls.medias.controls; let i = index">
      <div [formGroup]="mediaFormGroup">
          <mat-form-field fxFlex>
              <input matInput type="text" placeholder="Nom" formControlName="name">
          </mat-form-field>
          <mat-form-field fxFlex>
              <input matInput type="text" placeholder="URL" formControlName="url">
          </mat-form-field>

          <button mat-button color="accent" (click)="removeMedia(i)">
              <mat-icon>delete</mat-icon>
          </button>
      </div>
    </ng-container>

    <button mat-raised-button (click)="submit()" color="primary">Enregistrer</button>
  </form>
</mat-card>

<mat-spinner *ngIf="isLoading === true"></mat-spinner>
