<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>
      <img src="assets/img/logo.png" id="logo" alt="Logo bretagne videos">
    </span>
    <span id="title">
      Découverte touristique des régions en images, zoomer/dézoomer pour voir plus de points rouges
    </span>
    
    <div class="admin-links" *ngIf="authService.getAccessTokenId()">
      <span>
        <a routerLink="/locations">Lieux</a>
      </span>
      <span id="current-user">
        <mat-icon>account_circle</mat-icon>
        <span>{{ authService.getToken().user?.name }}</span>
      </span>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a id="contact" href="mailto:contact@videos.fr">Nous contacter</a>
  </mat-toolbar-row>

  
</mat-toolbar>

<router-outlet></router-outlet>
